/* tags */
h1 {
  font-family: 'Itim', cursive;
  padding-top: 10%;
}
h2{
    font-family: 'Itim', cursive;
    text-align: center;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Roboto Mono', monospace;
overflow-x: hidden;
}

/* images */
.img1 {
  width: 100px;
}

.video-img {
  padding-top: 100px;
  padding-left: 200px;
  width: 80%;
}

.trolley-img {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 70px;
}

.beef-img {
  width: 300px;
  height: 400px;
  float: left;
  margin-right: 70px;
  position: absolute;
  z-index: 1;
  left: 0;
}

.shelves-img {
  height: 400px;
  position: absolute;
  z-index: 3;
  top: 800px;
  left: 1100px;
}
.clothes-img{
  height: 200px;
  float: left;
  margin-right: 70px;
  position: relative;
  z-index: 3;
  left: 1180px;
  top: 400px;
}

 .store-img{
   width: 500px;
   position: relative;
   left: 32%;
 }
 .everything-store{
   width: 400px;
   position: relative;
   z-index: 1;
   float: left;
 }

.events-img{
  padding-right: 200%;
  width: 300%;
}
.profile-img{
  border-radius: 100%;
  width: 50px;
  float: left;
  margin-right: 2%;
}

/* divs */
.div1 {
  padding-left: 700px;
}

.white {
  background-color: white;
  margin-left: 50px;
  height: 300px;
  border-right-width: 200px;
  margin-top: 40px;

  padding-right: 450px;
}

.grey {
  background-color: #90A17D;
  padding-right: 500px;
  border-right-width: 200px;
  height: 650px;
}
.blue{
  padding-top: 10%;
  background-color: #E3F6FF;
height: 600px;
}

.promotion-big{
  padding-top: 1%;
  padding-right: 5%;
  padding-left: 5%;
width: 150%;
overflow-x: scroll;
}
.promotion-events{
width: 200%;
padding: 0;
}
.carrier-big{
 width: 1500px;
 overflow-x: scroll;

}
.carrier-small{
  width: 2700px;
}
.carrier{
  border: 0.1rem solid grey ;
  margin: 30px;
  width: 500px;
  padding: 2%;
}

/* sections */
#section-top {
  position: fixed;
  z-index: 5;
  color: inherit;
  background-color: black;
}
#video-section{
  position: relative;
  left: 25%;
  top: 50px;
}
#Products-Services {
  text-align: center;
  line-height: 1.5;

}
#our-stores{
  margin-top: 200px;
  margin-bottom: 100px;
  background-color:#FDF6F0;
  height: 520px;
  padding-top: 20px;

}

#photo-section{
  position: relative;
  /* left: %; */
padding-bottom: 200px;
}
#empty{
  height: 500px;
  background-color: grey;
}
#footer{
  text-align: center;
  padding: 5%;
}

/* text */
.grey-text {
  position: relative;
  top: 0;
  left: 8%;
  z-index:3;
  color: white;
}

.p {
  position: absolute;
  left: 340px;
  padding-right: 600px;
  margin-left: 100px;

}
.p2{
  padding-right:100px;
}
.blue-text{
  position: relative;
  top: 1%;
  right:10%;
  z-index: 3;
  padding-top: 100px;
  color: white;
}
.carrier-p{
  /* padding: 5%; */
  font-family: 'Montserrat', sans-serif;
}
